*{
    font-size:large;
}

.container {
    
    margin-top: 50px;
    text-align: center;
    display: flex;
    
    text-align: center;
}

.content {
    color: aliceblue;
    margin: 0 auto;
    width: 70%; 
    background-color: rgb(8, 5, 5); 
    padding: 20px; 
    border-radius: 10px;
    opacity: 0.8;
}

.content form p input{
    width: 30%;
    background-color: black;
    opacity: 0.8;
    border-radius: 5px;
    padding:10px;
    border-color: aliceblue;
    border-width: 2px;
    
}

input[type="text"] {
    color: white; /* Color of the inputted text */
}

.content form p textarea{
    width: 62%;
    background-color: black;
    opacity: 0.8;
    border-radius: 5px;
    padding:10px;
    border-color: aliceblue;
    border-width: 2px;
}

.content button{
    background-color: aliceblue;
    border-radius: 5px;
    padding: 5px;
    text-align: justify;
    
}

content button img{
    display: inline-block;
}

#signIn div{
    position: sticky;

}

#SignUp{
    background-color: rgb(46, 45, 45);
    border-radius: 10px;
    color: aliceblue;
    font-family: sans-serif;
    width: 200px;
    text-align: center;
}





