h1{
  color: orange;
  text-align: center;
 margin: auto;
}

body {
  margin: 0;
  font-family: "Poppins", sans-serif;
}
.header-main {
    width: 100%;
    margin-bottom: 100px;
    height: 60px;
    background-color:  #967951;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    z-index: 100;
    
}

.menu-items {
    margin: 0 15px 0 15px;
    padding: 0;
    list-style: none;
    display: flex;
}

.menu-items li a {
    color: whitesmoke;
    font-weight: 500;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 16px;
    text-transform: uppercase;
    white-space: nowrap;
  }

  .menu-items li {
    margin: 0;
    padding: 0;
   
  }

.topnav-left {
    float: left;
}

.topnav-right {
    float: right;
    
}
/* 

/----- DROPDOWN LIST STYLING START ------/ */

.sub-menu {
    display: none;
    position: absolute;
    z-index: 1;
    left: 159px;
    top: 100%;
    
    
}

 .sub-menu li {
    text-align: left;
    padding: 13px 16px 5px 5px;
    color: #1b1919;
    margin: 8px;
    width: 250px;
    height: 30px;
    list-style: none;
    background-color:  #967951;
    top: 100%;
    
}

.menu-items li:hover .sub-menu {
    display: block;
}
/* 
/------- DROPDOWN LIST STYLING END ------/

/--------SEARCH STYLING START -------/ */

.container {
    position: relative;
    --size-button: 25PX;
    color: white;
    margin-right: 20px;
    
  }
  
  .input {
    padding: 2px 3px;
    height: 35px;
    font-size: 15px;
    border: none;
    color: rgb(0, 0, 0);
    outline: none;
    width: 35px;
    transition: all ease 0.3s;
    background-color: #967951;
    
    border-radius: 15px;
    cursor: pointer;
  }
  
  .input:focus,
  .input:not(:invalid) {
    width: 130px;
    cursor: text;
    background-color: rgb(198, 198, 198);
    padding: 2px 40px;
  }
  
  .input:focus + .icon,
  .input:not(:invalid) + .icon {
    pointer-events: all;
    cursor: pointer;
    
  }
  
  .container .icon {
    position: absolute;
    width: var(--size-button);
    height: var(--size-button);
    top: 0;
    left: 0;
    padding: 8px;
    pointer-events: none;
  }
   
  .container .icon svg {
    width: 100%;
    height: 100%;
  }
/* 
  /-------- SEARCH STYLING END ---------/ */









/*Navigation bar CSS START*/
.nav_bar{
    text-align: center;
    margin: 60px;
}
.nav_bar a {
    color:black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.nav_bar a:hover {
    background-color:rgb(226, 209, 195);
    color:rgb(255, 123, 0);
}
  
.nav_bar a.active {
    background-color: #04AA6D;
    color: white;
}
/*Navigation bar CSS START*/


