.header-main {
    width: 100%;
    padding: 0 30px;
    height: 60px;
    background-color: #fffdd2;
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 0;
    z-index: 100;
}

.header-main nav {
    display: flex;
}

.header-main .logo {
    height: 50px;
    width: fit-content;
    align-self: center;
    cursor: pointer;
}

.header-main ul {
    height: 100%;
    padding-left: 40px;
    list-style: none;
    display: flex;
    align-self: center;
}

.header-main ul li {
    position: relative;
    background-color: #fffdd2;

}

.header-main ul li a {
    display: block;
    padding: 0 15px;
    height: 100%;
    line-height: 60px;
    font-size: 1rem;
    color: #000000;
    text-transform: uppercase;
    text-decoration: none;
}

/* DROPDOWN STYLING START */

.header-main ul li ul {
    visibility: hidden;
    opacity: 0;
    display: none;
    position: absolute;
    left: -40px;
    transition: all ease-in-out 100ms;

}

.header-main ul li ul li a {
    white-space: nowrap;
}

.header-main ul li ul li {
    margin: 5px;
    width: 250px;
    height: 40px;
    text-align: left;
    padding: 0px 25px 15px 4px;
}

ul li:hover>ul {
    visibility: visible;
    opacity: 1;
    display: block;

}

/* DROPDOWN STYLING END */

.header-main .left-menu {}

.header-main .search {
    align-self: center;
    display: flex;
    margin-right: 50px;
    
}

.header-main form {
    height: 35px;
    padding-right: 0px;
    display: flex;
    border: 1px#E5AF52;
    border-radius: 30px 30px 30px 30px;
    width: fit-content;
    align-self: center;
}

.header-main form input {
    height: 32px;
    width: 170px;
    padding: 0 10px 0 10px;
    border-radius: 0px 30px 30px 0px;
    font-size: 1rem;
    color: #E5AF52;
    border-color: #E5AF52;
}

.header-main form input:focus {
    border: 1px solid #E5AF52;
}

.header-main form button {
    border-radius: 30px 0px 0px 30px;
}

.header-main form button img {
    height: 24px;
    padding-top: 15%;
    cursor: pointer;

}

.header-main .account {
    height: 60px;
    width: fit-content;
    display: flex;
    align-items: center;
}

.cart{
    margin-top: 15px;
    opacity: 70%;
}



/*----------------------------    cart   ----------------------------------*/

.main-cart{
    margin-top: 100px;
    margin-bottom: 100px;
    
}

.main-cart-table{
    width: 95%;
    border-collapse: collapse;
    background-color: #fdfbf4;
    margin-left: auto;
    margin-right: auto;
}

.main-cart-table tr{
    border-bottom: 15px solid #ffffff;
    color: #24262b;
}


/*------  cart-quantity  ----------*/

.quantity{
    display: flex;
    
  }

  .btn{
    width: 25px;
    height: 25px;
   
  }

  .quantity-input{
    width: 25px;
    height: 20px;
    text-align: center;
  }

/*--------   cart-buy now button  ---------*/


.btn2{
    width: 140px;
    height: 40px;
    background-color: #EFD6BA;
    border-color: #EFD6BA;
}


.btn2:hover{
    background-color: #f0e1d0;
    border-color: #9e9b94;
}



  /*--------------------------    footer    ---------------------------*/

  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');


.container{
  width: 100%;
  margin:auto;
}
.row{
  display: flex;
  flex-wrap: wrap;
}
ul{
  list-style: none;
}
.footer{
  background-color: #24262b;
    padding: 30px 30px;
}
.footer-col{
   width: 47%;
   padding: 0 15px;
}
.footer-col h4{
  font-size: 18px;
  color: #ffffff;
  text-transform: capitalize;
  margin-bottom: 35px;
  font-weight: 500;
  position: relative;
}
.footer-col h4::before{
  content: '';
  position: absolute;
  left:0;
  bottom: -10px;
  background-color: #967951;
  height: 3px;
  box-sizing: border-box;
  width: 50px;
}
.footer-col ul li:not(:last-child){
  margin-bottom: 10px;
}
.footer-col ul li a{
  font-size: 16px;
  text-transform: capitalize;
  color: #ffffff;
  text-decoration: none;
  font-weight: 300;
  color: #bbbbbb;
  display: block;
  transition: all 0.3s ease;
  text-wrap: nowrap;
}
.footer-col ul li a:hover{
  color: #ffffff;
  padding-left: 8px;
}
.footer-col .social-links a{
  display: inline-block;
  height: 40px;
  width: 40px;
  background-color: rgba(255,255,255,0.2);
  margin:0 10px 10px 0;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: #ffffff;
  transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
  color: #24262b;
  background-color: #ffffff;
}

#appstore {
  width: 300px;
  height: 120px;
  
}
#playstore {
  width: 230px;
  height: 90px;
}
.download {
  margin-top: -40px;
}

.inline-block {
  display: inline-block;
}

 .copyrights{
  display: flex;
  border-top: 1px solid gray;
  width:100%;
  margin:10px auto 0px auto;
  padding-top: 10px;
  color:gray;
  font-size:0.8em;
  justify-content: space-between;
  }

  .left {
    float: left;
  }
  .right {
    float: right;
  }
  
 .right a {
  text-decoration: none;
  color: gray;
  padding-right: 10px;
 }