.pro_card{
    display: flex;
}
.pro_card2{
    display: flex;
    align-items: center;
    margin-left: 350px;
}
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.card1 {
    width: 300px;
    margin: 50px auto;
    border: 1px solid #ddd;
    padding: 20px;
    border-radius: 5px;
    margin-right: 50px;
}
.card2 {
    width: 300px;
    margin: 50px ;
    border: 1px solid #ddd;
    padding: 20px;
    border-radius: 5px;
    margin-right: 50px;
}
header {
    text-align: center;
}

h1 {
    font-size: 2em;
    margin-bottom: 20px;
}

h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
}

p {
    line-height: 1.5;
}

.card1 {
    margin-bottom: 20px;
}

.card1n h3 {
    font-size: 1.2em;
    margin-bottom: 5px;
}

button {
    background-color:  #F2B245;
    color: rgb(75, 74, 74);
    padding: 8px 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #edc681;
}
