*{
    font-size: x-large;
}

.container {
    
    margin-top: 50px;
    text-align: center;
    display: flex;
    
    text-align: center;
}

input[type="text"] {
    color: white; /* Color of the inputted text */
}

.content {
    color: aliceblue;
    margin: 0 auto;
    width: 70%; 
    background-color: rgb(8, 5, 5); 
    padding: 20px; 
    border-radius: 10px;
    opacity: 0.8;
}

.content form p input{
    background-color: black;
    opacity: 0.8;
    border-radius: 5px;
    padding:5px;
    border-color: aliceblue;
    border-width: 2px;
}

.content button{
    text-align: center;
    background-color: aliceblue;
    border-radius: 5px;
    padding: 5px;
    
}

button a{
    text-decoration: none;
    color: rgb(1, 9, 16);
}
button a:hover{
    color:rgb(2, 34, 34);
}



content button img{
    display: inline-block;

}

#signIn div{
    position: sticky;

}

#logIn{
    background-color: rgb(46, 45, 45);
    border-radius: 10px;
    color: aliceblue;
    font-family: sans-serif;
    width: 200px;
    text-align: center;
}













.navbar{
    min-width: 1000px;
    margin:0;
    padding:8px 5px 8px 5px;
    opacity: 1S;
    color: rgb(3, 28, 50);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

#logo img{
    width: 30px;
    
}

#navBtn2 img{
    width:50px;
}

#navBtn1 button{
    background-color: rgb(0, 0, 30);
    filter:opacity(0.6);
    padding: 5px;
    opacity: 1;
    color: rgb(255, 255, 255);
    font-weight: bolder;
    text-align: center;
    width: 150px;
    border-color: azure;
    border-radius: 10px;
}

#navBtn1 button:hover{
    background-color: brown;
    color: beige;
    font-style:oblique;
}

#navBtn1{
    
    display:inline-block;
    font-size:xx-large;
}

#navBtn2 button{
    padding:5px;
    background-color: transparent;
    border-color: rgb(255, 255, 255);
    color: aliceblue;
    text-align: center;
    width: 150px;
    border-radius: 10px;
}

#navBtn2 button:hover{
    background-color: rgb(6, 65, 80);
    color: beige;
    font-style:oblique;
}

#navBtn2{
    float:right;
    display:inline-block;
    font-size:xx-large;
}

#logo{
    display:inline-block;
}